:root {
	--logo-blue: #0056b3;
	--base-blue: #4b67b4;
	--base-gray: #ddd;
	--base-green: #3990b5;
}
body {
	font-family: 'Roboto', 'Open Sans', sans-serif;
	color: #535f67;
	overflow-x: hidden;
}

/* ===== Nav scrolling effects using offset ===== */
.offset:before {
	height: 4rem;
	margin-top: -4rem;
	content: '';
	display: block;
}

/* ===== Extra Bootsrap column padding ====== */
[class*='col-'] {
	padding: 1rem;
}

/* ===== Navigation =====  */
.main-header {
	padding: 0.7rem 1rem;
	text-transform: uppercase;
	font-size: 0.9rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	transition: background-color 0.5s ease 0s;

	max-height: 8.5rem; /* to adjust smoothly even in xl viewports ?*/
}

.navbar-collapse.show {
	background-color: rgba(0, 0, 0, 0.7);
	transition: 0.2s ease-in;
	padding: 0.5rem;
}

.navbar-brand img {
	height: 3.5rem;
}

.navbar-brand.scrolled img {
	height: 2.5rem;
}

.fa-bars {
	color: var(--base-gray);
	font-size: 1.5rem;
}

.navbar-nav li {
	padding-right: 0.8rem;
}

.navbar-nav .nav-link {
	color: var(--base-gray);
	padding-top: 0.8rem;
	font-size: 1rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
	color: #3990b5;
	transition: 0.3s;
}

.nav-link.btn {
	font-size: 1rem;
	font-weight: bolder;
}

.nav-link.btn:hover {
	color: #eee;
	transition: 0.4s;
}

.main-header.solid {
	background: rgba(0, 0, 0, 0.8) !important;
	transition: background-color 1s ease 0s;
}

.jumbotron.private {
	margin-top: 4.2rem;
	padding-top: 2rem;
	height: 80vh;
}

.jumbotron.inner-jumbotron {
	height: 60vh;
	margin: 1rem;
	padding: 2rem;
	background-color: #ddd;
}

/* ===== Landing Page ===== */

.home-inner {
	background-image: url(../img/sam-darkened.png);
}

.caption {
	width: 100%;
	max-width: 100%;
	position: absolute;
	top: 38%;
	z-index: 1;
}

.caption h1 {
	color: var(--base-gray);
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.3rem;
	text-shadow: 0.1rem 0.1rem 0.8rem black;
}

.caption h3 {
	color: var(--base-gray);
	font-size: 2rem;
	text-transform: uppercase;
	text-shadow: 0.1rem 0.1rem 0.5rem black;
	padding: 0.5rem;
}

.caption h4 {
	color: var(--base-gray);
	font-size: 1.5rem;
	text-transform: uppercase;
	text-shadow: 0.1rem 0.1rem 0.5rem black;
	padding: 1rem;
}

.call-action .btn-lg {
	border-radius: 4px;
	color: #ddd;
	border: var(--base-gray) solid 0.2rem;
	padding: 1.1rem;
	font-weight: bolder;
	text-transform: uppercase;
	display: inline-block;
}

.call-action .btn-lg:hover {
	background-color: var(--base-gray);
	color: var(--base-green);
	transition: 0.5s;
}

/* ===== Galeria Section Fixed BG IMG Light =====  */
#fixed-2 {
	background-image: url('../img/soundwave-header.png');
	z-index: -1;
}

.light {
	background-color: rgba(255, 255, 255, 0.85);
	padding: 3rem 2rem 2rem;
	z-index: 1000 !important;
}

.row {
	display: flex;
	justify-content: center;
}

h3.heading {
	font-size: 1.9rem;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 1.9rem;
}

.heading-underline {
	width: 3rem;
	height: 0.2rem;
	background-color: var(--base-blue);
	margin: 0 auto;
}

.owl-dot.active span,
.owl-dot:hover span {
	background: var(--base-blue) !important;
}

.owl-item {
	height: auto;
}

/* ===== Fixed background img dark =====  */

#fixed {
	background-image: url('../img/team-darkened.png');
	z-index: -1;
}

.dark {
	background-color: rgba(0, 0, 0, 0.15);
	padding: 7rem 2rem;
	text-align: center;
	z-index: 1000 !important;
}

.dark h3,
.dark p {
	color: #e9ecef;
}

/* ===== Profile Section =====  */
.profile-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
}

.profile .row {
	background: url('../img/team-darkened.png') no-repeat center fixed;
	background-size: cover;
}
/* .row.padding [class*='col-'] {
	padding: 3rem 2rem 2rem;
	justify-content: center;
} */

h3.heading {
	font-size: 1.9rem;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 1.9rem;
}

.heading-underline {
	width: 3rem;
	height: 0.2rem;
	background-color: var(--base-blue);
	margin: 0 auto;
}

img.example-image {
	max-width: 100%;
}

/* .row.no-padding [class*='col-'] {
	display: flex;
	padding: 0;
	justify-items: center;
} */

.profile-item {
	overflow: hidden;
	margin-top: 1rem;
}

.profile-item img {
	max-width: 100%;
	height: auto;
	border-radius: 50%;
	transition: transform 0.3s ease;
}

.profile-item img:hover {
	transform: scale(0.95);
	opacity: 0.85;
	cursor: pointer;
}

/* ===== Numbers Section =====  */

.skill h3 {
	color: var(--base-blue);
	font-size: 2.5rem;
	font-weight: 700;
	margin: 1rem 0 0.5rem;
}

.skill p {
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: 700;
}

/*  ==== Courses section ==== */
#cursos .card-title {
	display: flex;
	justify-content: center;
	min-width: 60%;
}

/* Modal */
h5.modal-title {
	text-align: center;
}

.img-modal {
	object-fit: fill;
	max-width: 100%;
}

/* Footer  */
/* Sponsors section */
.sponsors {
	background-image: url('../img/soundwave-header.png');
	z-index: -1;
}

.sponsors-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	align-items: baseline;
	justify-content: center;
}

.sponsors-item {
	display: flex;
	justify-content: center;
}

.sponsors-item .logo {
	max-width: 20vw;
	height: auto;
}

/* Lower section */
.hr-footer {
	width: 90vw;
}
.backToTop {
	display: flex;
	float: right;
	margin: 1rem 4vw 1rem 1rem;
	background: var(--base-blue) none repeat scroll 0 0;
	width: 2rem;
	height: 2rem;
	border-radius: 4px;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 12px;
	transition: all 0.3s ease 0s;
}

/* ======= Bootstrap RWD Breakpoints ======= */

/* Extra large devices (large desktops) */
/* No media query since the extra-large breakpoint has no upper bound on its width */

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
	.caption h1 {
		font-size: 3.5rem;
		letter-spacing: 0.2rem;
		padding-bottom: 0.8rem;
	}

	.caption h3 {
		font-size: 2.2rem;
		padding-bottom: 1.7rem;
	}

	.btn-lg {
		padding: 0.7rem 1.2rem;
		font-size: 1rem;
	}

	.narrow h1 {
		font-size: 2.1rem;
	}
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
	.caption h1 {
		font-size: 2.7rem;
		letter-spacing: 0.15rem;
		padding-bottom: 0.5rem;
	}

	.caption h3 {
		font-size: 1.5rem;
		padding-bottom: 1.2rem;
	}

	.btn-lg {
		padding: 0.6rem 1.1rem;
		font-size: 1rem;
	}

	narrow h1 {
		font-size: 1.8rem;
	}

	#fixed {
		background-image: url('../img/fixed/soundwave-header.png');
	}

	#fixed-2 {
		background-image: url('../img/soundwave-header.png');
	}

	#cursos .card-title {
		display: flex;
		justify-content: center;
		min-width: 60%;
	}
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
	.caption h3 {
		text-align: center;
		font-size: 1.2rem;
		padding-bottom: 1.2rem;
	}

	.heading h3 {
		text-align: center;
	}

	.heading-underline {
		margin-bottom: 2rem;
	}

	.profile-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding: 1rem 1rem 1rem;
	}

	.profile-item img {
		max-width: 70%;
		height: auto;
		border-radius: 50%;
		transition: transform 0.3s ease;
	}

	/* sponsors section */
	.sponsors-grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 3rem;
	}

	.sponsors-item .logo {
		max-width: 70%;
		height: auto;
	}
}
